In [68]:
import sqlite3
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings('ignore')

In [69]:
conn = sqlite3.connect("main.db")

In [70]:
account_raw = pd.read_csv(r"./source/Account.csv")
account_ownership_raw = pd.read_csv(r"./source/AccountOwnership.csv")

In [71]:
account_ownership_raw.head()

,Account No,Chart Id,Description,Node Type,Image,Calc 1,Calc 2,Calc 3,Ownership Id,Seq No,Key Id,Parent Key Id
0,NaN,NaN,Ownership Root,Root,58,NaN,NaN,NaN,142,1.0,$ROOT,NaN
1,NaN,NaN,Unowned Root,UnOwned Root,58,NaN,NaN,NaN,142,0.5,$UNOWNED,0
2,11000,1.0,Cash - Operating Acct #8854,Data,59,NaN,NaN,NaN,142,1.0,1_11000,1_CASH
3,11100,1.0,Cash - Disburse Acct #0376,Data,59,NaN,NaN,NaN,142,2.0,1_11100,1_CASH
4,11200,1.0,Cash - Disbursement Manual,Data,59,NaN,NaN,NaN,142,3.0,1_11200,1_CASH

In [72]:
account_raw.head()

,Chart Id,Account No,Account,Account Type,DR/CR,Posting Level,Inter-Company Flag,Security Status,Revaluation,Reconciliation,Account Control Class,Class Description,Conversion Type Id,Conversion Type Description,UDF 1,XBRL Tag,User Created,Date Created
0,1.0,12600,Investments Contra to 1201-Unrealized adjustme...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
1,1.0,12900,Contra Investments - restricted for capital ac...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
2,1.0,RSTINV,RESTRICTED CASH & INVESTMENTS,Asset,Both Debit/Credit,Restricted,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
3,1.0,12010,Investment - TexPool - LPPF,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
4,1.0,12020,Investment - TexPool - COs,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022

# Import Account

In [82]:
account_df = account_raw.copy()
account_df.columns = account_df.columns.str.replace(" ", "")
account_df.columns = account_df.columns.str.replace("-", "")
account_df.dropna(inplace=True, subset='ChartId')
account_df['ChartId'] = account_df['ChartId'].astype(int)
account_df.head()

,ChartId,AccountNo,Account,AccountType,DR/CR,PostingLevel,InterCompanyFlag,SecurityStatus,Revaluation,Reconciliation,AccountControlClass,ClassDescription,ConversionTypeId,ConversionTypeDescription,UDF1,XBRLTag,UserCreated,DateCreated
0,1,12600,Investments Contra to 1201-Unrealized adjustme...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
1,1,12900,Contra Investments - restricted for capital ac...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
2,1,RSTINV,RESTRICTED CASH & INVESTMENTS,Asset,Both Debit/Credit,Restricted,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
3,1,12010,Investment - TexPool - LPPF,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
4,1,12020,Investment - TexPool - COs,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022

# Import Account_RadType

In [101]:
account_ownership_df = account_ownership_raw.copy()
account_ownership_df.columns = account_ownership_df.columns.str.replace(" ", "")
account_ownership_df.dropna(inplace=True, subset='AccountNo')
account_ownership_df = account_ownership_df[['AccountNo', 'ParentKeyId']]
account_ownership_df['ParentKeyId'] = account_ownership_df['ParentKeyId'].str.replace('1_', "")
merge = pd.merge(account_df, account_ownership_df, on="AccountNo")
merge.rename(columns={'ParentKeyId': 'ParentAccountNo'}, inplace=True)
merge.head(2)

,ChartId,AccountNo,Account,AccountType,DR/CR,PostingLevel,InterCompanyFlag,SecurityStatus,Revaluation,Reconciliation,AccountControlClass,ClassDescription,ConversionTypeId,ConversionTypeDescription,UDF1,XBRLTag,UserCreated,DateCreated,ParentAccountNo
0,1,12600,Investments Contra to 1201-Unrealized adjustme...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022,INVESTMNT
1,1,12900,Contra Investments - restricted for capital ac...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022,INVESTMNT

In [102]:
def import_func(df: pd.DataFrame()) -> None:
    df.to_sql('Account', conn, if_exists='append', index=False)
    
# import_func(merge)